environment/
Stellar_Proj/dag/dags/data/star_classification.csv
Stellar_Proj/dag/dags/data/X_train.csv
Stellar_Proj/dag/dags/data/X_test.csv
Stellar_Proj/dag/logs
Stellar_Proj/dag/dags/data
Stellar_Proj/dag/dags/__pycache__
Stellar_Proj/dag/dags/src/__pycache__
Stellar_Proj/dag/dags/src/decision_tree_model.py
Stellar_Proj/dag/dags/src/logistic_model.py
Stellar_Proj/dag/dags/src/Xg_boost.py
Stellar_Proj/mlruns
Stellar_Proj/dag/dags/test/__pycache__
Stellar_Proj/dag/logs
Stellar_Proj/dag/plugins
Stellar_Proj/mlflow
Stellar_Proj/.env
Stellar_Proj/dag/config
Stellar_Proj/dag/dags/src/__pycache__
E:\stellar_airflow_cloud\Stellar_Proj\.env